main{
    background-image: url('../images/background\ main\ section.svg'); 
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
}
main .container{
   padding-top: 10em;
   padding-bottom: 0;
}

.img-container img{
    margin-bottom: -7px;
}

main .container .copy-container p{
    margin-bottom: 1em;
}
main .container .copy-container .btn{
    display: inline-block;
}
main .container .copy-container p{
    margin-bottom: 1em;
}